/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* store variable for color and font */
:root {
    --Open-sans: 'Open Sans', sans-serif;
    --Poppins: 'Poppins', sans-serif;
    --Pink: hsl(322, 100%, 66%);
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

header {
    background-color: var(--Very-Pale-Cyan);
    width: 100%;
    height: 70px;
    padding: 0 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.header-btn > button {
    font-family: var(--Poppins);
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0.5rem 1.3rem;
    color: var(--Very-Dark-Cyan);
    border-radius: 2rem;
    border: none;
    background-color: #fff;
    box-shadow: rgba(253, 251, 255, 0.1) 1px 2px 8px;
    outline: 0;
}


.hero-section {
    font-family: var(--Poppins);
    background-image: url(images/bg-hero-mobile.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--Very-Pale-Cyan);
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 750px;    
}

.hero-text {
    width: 80vw;
}

.hero-text h1 {
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 1px;
    font-weight: 600;
}

.hero-text p {
    margin-top: 1rem;
    line-height: 1.7;
    padding: 5px;
}

.pink-button {
    margin-top: 1rem;
    padding: 0.6rem 3.5rem;
    font-family: inherit;
    font-weight: inherit;
    color: var(--Very-Pale-Cyan);
    background-color: var(--Pink);
    min-width: 40px;
    border-radius: 3rem;
    border: none;
    outline: 0;
}

.hero-svg {
    margin-top: 2.5rem;
    width: 80vw;
}

.hero-svg img {
    max-width: 100%;
    height: auto;
}

.section-card {
    width: 90vw;
    margin: 1.5rem auto;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
    border-radius: 10px;
}

.card-svg img {
    max-width: 100%;
    height: auto;
}

.card-info {
    margin-top: 1rem;
    text-align: center;
}

.card-info > h2 {
    font-family: var(--Poppins);
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.card-info > p {
    margin-top: 0.8rem;
    padding: 5px;
    font-family: var(--Open-sans);
    color: var(--Grayish-Blue);
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.call-to-action {
    width: 90vw;
    margin: 1.5rem auto;
    margin-bottom: 0;
    padding: 2rem 1.3rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
    background-color: #fff;
    border-radius: 15px;
}

.call-to-action h2 {
    font-family: var(--Open-sans);
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-bottom: 0.5rem;
}

footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-family: var(--Open-sans);
    background-color: var(--Very-Dark-Cyan);
    padding-top: 7rem;
    padding-bottom: 3rem;
    margin-top: -6rem;
    z-index: -99;
}

.footer-logo {
    margin-left: 1.3rem;
    padding: 1rem 0;
}

.footer-logo > svg {
    max-width: 150px;
}

.svg-path {
    fill: #fff;
}

.footer-info {
    display: flex;
    align-items: center;
    padding: 0.5rem 1.3rem;
}

.icon-container {
    min-width: 48px;
}

.icon-container img {
    max-width: 100%;
    height: auto;
}

.footer-info > p {
    padding: 10px;
}

.footer-link-container {
    display: flex;
    flex-direction: column;
    margin-left: 1.3rem;
    margin-top: 1rem;
}

.footer-col3 {
    margin-top: 0;
}

.footer-links {
    margin-top: 0.8rem;
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
}

.social-links {
    text-align: center;
    margin-top: 2rem;
}

.fa-brands {
    border: 2px groove #fff;
    padding: 10px;
    border-radius: 50%;
    margin-left: 1.5rem;
}

.copyright {
    text-align: center;
    font-size: 0.7rem;
    font-family: var(--Poppins);
    padding: 1.5rem 0;
    margin-top: 0.5rem;
}

@media (min-width: 750px) {

    header {
        padding: 2rem 4rem;
        height: 100px;
    }

    .logo {
        width: 150px;
    }

    .header-btn > button {
        padding: 0.5rem 2.6rem;
        cursor: pointer;
    }

    .header-btn > button:hover {
        color: var(--Grayish-Blue);
        border: 1px solid var(--Very-Dark-Cyan);
    }

    .hero-section {
        background-image: url(images/bg-hero-desktop.svg);
        margin-bottom: 7rem;
    }

    .hero-container {
        width: 90vw;
        margin: 0 auto;
        padding: 2rem 0;
        flex-direction: row;
        min-height: unset;
        text-align: unset;
    }

    .hero-text {
        width: 40vw;
        max-width: 575px;
        padding-right: 1rem;
    }

    .hero-text h1 {
        max-width: 345px;
    }

    .hero-svg {
        width: 60vw;
        max-width: 700px;
        margin-top: unset;
    }

    .section-card {
        width: 80vw;
        min-height: unset;
        flex-direction: row-reverse;
        justify-content: space-around;
        padding: 2rem;
    }

    .flip {
        flex-direction: row;
    }

    .card-svg {
        max-width: 400px;
    }

    .card-info {
        margin-top: unset;
        max-width: 470px;
        padding: 10px;
        text-align: unset;
    }

    .call-to-action {
        margin-top: 7rem;
        width: 70vw;
        max-width: 600px;
    }

    footer {
        justify-content: unset;
        display: grid;
        grid-template-areas: "col1 col2 col3 col4"
                              "col5 col5 col5 col5";
        align-items: center;
        justify-items: center;
        padding: 7rem 2rem 3rem 2rem;
        gap: 20px;
    }

    .footer-col1 {
        grid-area: col1;
        max-width: 450px;
    }

    .footer-col2 {
        grid-area: col2;
    }

    .footer-col3 {
        grid-area: col3;
    }

    .footer-col4 {
        grid-area: col4;
        margin-top: 0;
    }

    .footer-col5 {
        grid-area: col5;
        justify-self: end;
        font-size: 0.9rem;
    }

    .footer-link-container {
        margin-top: 0;
    }


}
